@page "/Garantia/Details/{GarantiaId:int}"
@inject DeudorService deudorService
@inject PrestamoService prestamoService
@inject GarantiaService garantiaService
@inject NavigationManager navigationManager
@inject ToastService toastService
@rendermode InteractiveServer

<PageTitle>Detalles de la garantia</PageTitle>
<div class="container mt-5 pt-3">
    
    <div class="card shadow-lg border-0">
        <div class="card-header text-center py-5">
            <h2>Detalle Garantia</h2>
        </div>

        <div class="card-body">
            
            <div class="row">
                @* Valor garantia *@
                <div class="col-md-6 mb-4">
                    <div class="info-block">
                        <strong>Valor garantia:</strong>
                        <p class="d-block">@garantia.ValorGarantia</p>
                    </div>
                </div>
                @* Fecha garantia *@
                <div class="col-md-6 mb-4">
                    <div class="info-block">
                        <strong>Fecha de Garantia:</strong>
                        <p class="d-block">@garantia.FechaGarantia.ToShortDateString()</p>
                    </div>
                </div>
            </div>
            <div class="row">
               @*  Nombre completo *@
                <div class="col-md-6 mb-4">
                    <div class="info-block">
                        <strong>Deudor:</strong>
                        <p class="d-block">@deudor?.Nombres @deudor?.Apellidos</p>
                    </div>
                </div>
                @* Prestamo *@
                <div class="col-md-6 mb-4">
                    <div class="info-block">
                        <strong>Préstamo:</strong>
                        <p class="d-block">@prestamo?.PrestamoId</p>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <h4 class="text-primary">Detalles de las garantias</h4>
                @if (listagarantiadetalle.Any())
                {
                    <table class="table table-bordered mt-3">
                        <thead>
                            <tr class="text-center">
                                <th>Artículo</th>
                                <th>Cantidad</th>
                                <th>Valor Unitario</th>
                                <th>Foto Garantia</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var detalle in listagarantiadetalle)
                            {
                                <tr class="text-center">
                                    <td>@detalle.Articulo</td>
                                    <td>@detalle.Cantidad</td>
                                    <td>$@detalle.ValorUnitario</td>
                                    <td class="text-center">
                                        @if (!string.IsNullOrEmpty(detalle.FotoDetalleUrl))
                                        {
                                            <img src="@detalle.FotoDetalleUrl" alt="Foto del artículo" style="width: 50px; height: 50px; object-fit: cover;" />
                                        }
                                        else
                                        {
                                            <span>No disponible</span>
                                        }
                                    </td>
                                    <td>$@detalle.Total</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-info text-center">
                        No se encontraron detalles para el deudor especificado.
                    </div>
                }
            </div>
        </div>
        <div class="card-footer text-center footer-bar">
            <button class="btn btn-lg btn-outline-primary" @onclick="Volver">
                <i class="bi bi-arrow-left-circle-fill mt-3"></i> Volver
            </button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int GarantiaId { get; set; }
    public Garantias? garantia = new Garantias();
    public Prestamos? prestamo = new Prestamos();
    public Deudores? deudor = new Deudores();
    private List<GarantiasDetalle> listagarantiadetalle = new();

    protected override async Task OnInitializedAsync()
    {
        if (GarantiaId > 0)
        {
            garantia = await garantiaService.Buscar(GarantiaId);
            if (garantia != null)
            {
                deudor = await deudorService.Buscar(garantia.DeudorId);
                prestamo = await prestamoService.Buscar(garantia.PrestamoId);
                listagarantiadetalle = await garantiaService.ObtenerDetallesPorGarantiaId(GarantiaId);
            }
        }
    }

    public async Task Volver()
    {
        toastService.Notify(new(ToastType.Primary, "Éxito", "Volvió correctamente"));
        navigationManager.NavigateTo("/garantia/Index");
    }
}