@page "/garantia/Index"
@inject DeudorService deudorService
@inject PrestamoService prestamoService
@inject GarantiaService garantiaService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Consulta de garantias</PageTitle>

<div class="container-fluid vh-100 d-flex flex-column justify-content-center">
    <div class="card shadow-lg w-100 h-100">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="card-title text-center w-100">Consulta de garantias</h3>
        </div>

        <div class="card-body overflow-auto">
            <div class="row mb-4 align-items-end">
                <div class="col-md-4">
                    <label for="Filtro" class="form-label"><strong>Filtrar por:</strong></label>
                    <select @bind="filtro" class="form-select">
                        <option value="0">Seleccione una opción</option>
                        <option value="Nombres">Nombres</option>
                        <option value="Apellidos">Apellidos</option>
                        <option value="NumeroCedula">NumeroCedula</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label for="ValorFiltro" class="form-label"><strong>Búsqueda:</strong></label>
                    <div class="input-group">
                        <input @bind="valorFiltro" class="form-control" placeholder="Buscar" />
                        <button @onclick="Buscar" class="btn btn-outline-primary" type="button">
                            <span class="bi bi-search"></span>
                            Buscar
                        </button>
                    </div>
                </div>

                <div class="col-md-1 ms-auto">
                    <a href="/Garantia/Create" class="btn btn-primary text-end">
                        <span class="bi bi-plus-square"></span>
                        Crear
                    </a>
                </div>
            </div>

            <table class="table text-center">
                <thead class="table-white">
                    <tr>
                        <th>GarantiaId</th>
                        <th>Deudores</th>
                        <th>Prestamos</th>
                        <th>TipoGarantia</th>
                        <th>ValorGarantia</th>
                        <th>FechaGarantia</th>
                        <th>Ver</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var garantia in listagarantias)
                    {
                        <tr>
                            <td>@garantia.GarantiaId</td>
                            <td>@garantia.Deudores.Nombres @garantia.Deudores.Apellidos</td>
                            <td>@garantia.Prestamos.PrestamoId</td>
                            <td>@garantia.TipoGarantia</td>
                            <td>@garantia.ValorGarantia</td>
                            <td>@garantia.FechaGarantia.ToString("dd/MM/yyyy")</td>
                           
                           

                            <td>
                                <a href="/garantia/Details/@garantia.GarantiaId" class="btn btn-outline-primary">
                                    <span class="bi bi-eye mt-3"></span>
                                </a>
                            </td>
                            <td>
                                <a href="/Garantia/Edit/@garantia.GarantiaId" class="btn btn-outline-success">
                                    <span class="bi bi-pencil-square mt-3"></span>
                                </a>
                            </td>
                            <td>
                                <a href="/garantia/Delete/@garantia.GarantiaId" class="btn  btn-outline-danger">
                                    <span class="bi bi-trash mt-3"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="card-footer d-flex justify-content-between">
            <p class="mb-0">Total de garantias: @listagarantias.Count</p>
        </div>
    </div>
</div>

@code {
    public Garantias garantia = new Garantias();
    public List<Garantias> listagarantias = new List<Garantias>();
    public List<Prestamos> listaprestamo = new List<Prestamos>();
    public List<Deudores> listadeudore = new List<Deudores>();
    public string filtro = "0";
    public string valorFiltro = "";

    protected override async Task OnInitializedAsync()
    {
        listagarantias = await garantiaService.Listar(c => true);
    }

    public async Task Buscar()
    {
        if (string.IsNullOrWhiteSpace(valorFiltro))
        {
            listagarantias = await garantiaService.Listar(c => true);
        }
        else
        {
            if (filtro == "Nombres")
            {
                listadeudore = await deudorService.Listar(c => c.Nombres.Contains(valorFiltro));
            }
            if (filtro == "Apellidos")
            {
                listadeudore = await deudorService.Listar(c => c.Apellidos.Contains(valorFiltro));
            }
            if (filtro == "NumeroCedula")
            {
                listadeudore = await deudorService.Listar(c => c.NumeroCedula.Contains(valorFiltro));
            }


        }
    }
    private async Task Volver()
    {
        navigationManager.NavigateTo("/menu");
    }
}
