@page "/Deudor/Create"
@inject DeudorService deudorService
@inject NavigationManager navigationManager
@inject ToastService toastService
@rendermode InteractiveServer

<PageTitle>Registrar Deudor</PageTitle>

<EditForm Model="deudor" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="container-fluid pt-5 mt-5 d-flex flex-column justify-content-center">
        <div class="card shadow-lg w-100">
            <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #008DD9; color: #fff;">
                <h3 class="card-title text-center w-100">Registrar Deudor</h3>
            </div>

            <div class="card-body">
                <div class="row">
                    @* Campo Cliente ID *@
                    <div class="col-md-6 mb-4">
                        <label for="deudorId" class="form-label"><strong>Cliente Id:</strong></label>
                        <InputNumber id="deudorId" class="form-control" readonly @bind-Value="deudor.DeudorId" />
                        <ValidationMessage For="@(() => deudor.DeudorId)" />
                    </div>

                    @*Campo Número Cédula *@
                    <div class="col-md-6 mb-4">
                        <label for="cedula" class="form-label"><strong>Número Cédula:</strong></label>
                        <InputText id="cedula" class="form-control" placeholder="Ingrese la cédula" @bind-Value="deudor.NumeroCedula" />
                        <ValidationMessage For="@(() => deudor.NumeroCedula)" />
                    </div>
                </div>

                <div class="row">
                    @* Campo Foto Cédula *@
                    <div class="col-md-6 mb-4">
                        <label for="foto" class="form-label"><strong>Foto Cédula:</strong></label>
                        <InputText id="foto" class="form-control" placeholder="Ingrese la URL de la foto de su cédula" @bind-Value="deudor.FotoCedulaURL" />
                        <ValidationMessage For="@(() => deudor.FotoCedulaURL)" />
                    </div>

                    @* Campo Nombres *@
                    <div class="col-md-6 mb-4">
                        <label for="nombres" class="form-label"><strong>Nombres:</strong></label>
                        <InputText id="nombres" class="form-control" placeholder="Ingrese los nombres" @bind-Value="deudor.Nombres" />
                        <ValidationMessage For="@(() => deudor.Nombres)" />
                    </div>
                </div>

                <div class="row">
                    @* Campo Apellidos *@
                    <div class="col-md-6 mb-4">
                        <label for="apellidos" class="form-label"><strong>Apellidos:</strong></label>
                        <InputText id="apellidos" class="form-control" placeholder="Ingrese los apellidos" @bind-Value="deudor.Apellidos" />
                        <ValidationMessage For="@(() => deudor.Apellidos)" />
                    </div>

                    @* Campo Dirección  *@
                    <div class="col-md-6 mb-4">
                        <label for="direccion" class="form-label"><strong>Dirección:</strong></label>
                        <InputText id="direccion" class="form-control" placeholder="Ingrese la dirección" @bind-Value="deudor.Direccion" />
                        <ValidationMessage For="@(() => deudor.Direccion)" />
                    </div>
                </div>

                <div class="row">
                    @* Campo Teléfono *@
                    <div class="col-md-6 mb-4">
                        <label for="telefono" class="form-label"><strong>Teléfono:</strong></label>
                        <InputText id="telefono" class="form-control" placeholder="Ingrese el teléfono" @bind-Value="deudor.Telefono" />
                        <ValidationMessage For="@(() => deudor.Telefono)" />
                    </div>

                    @* Campo Ciudad*@
                    <div class="col-md-6 mb-4">
                        <label for="ciudad" class="form-label"><strong>Ciudad:</strong></label>
                        <InputText id="ciudad" class="form-control" placeholder="Ingrese la ciudad" @bind-Value="deudor.Ciudad" />
                        <ValidationMessage For="@(() => deudor.Ciudad)" />
                    </div>
                </div>
            </div>

            <div class="card-footer justify-content-center text-center custom-footer mt-5 pt-4">
                <div class="btn-group">
                    <button type="button" @onclick="Nuevo" class="btn btn-outline-primary">
                        <span class="bi bi-plus-circle-fill mt-3"></span>
                        Nuevo
                    </button>
                    <button type="submit" class="btn btn-outline-success">
                        <span class="bi bi-floppy mt-3"></span>
                        Guardar
                    </button>
                    <button type="button" @onclick="Volver" class="btn btn-outline-danger">
                        <span class="bi bi-arrow-left-circle-fill mt-3"></span>
                        Volver
                    </button>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int DeudorId { get; set; }
    public Deudores? deudor { get; set; } = new Deudores();
    public List<Deudores> listadeudore { get; set; } = new List<Deudores>();
    private bool existe = false;

    public async Task Nuevo()
    {
        deudor = new Deudores();
        existe = false;
    }
    protected override async Task OnInitializedAsync()
    {
        listadeudore = await deudorService.ListarDeudores();
    }
    public async Task Buscar()
    {
        existe = false;
        var encontrado = await deudorService.Buscar(deudor.DeudorId);
        if (encontrado != null)
        {
            deudor = encontrado;
        }
        else
        {
            Nuevo();
        }
    }

    public async Task<bool> Validar()
    {
        existe = await deudorService.Existe(deudor.DeudorId);
        return !existe;
    }

    public async Task Guardar()
    {
        if (!await Validar())
        {
            return;
        }
        var guadado = await deudorService.Guardar(deudor);
        if (guadado)
        {
            toastService.Notify(new(ToastType.Success, "Exito", "Se guardó correctamente"));
            Volver();
        }
    }

    public async Task Volver()
    {
        toastService.Notify(new(ToastType.Primary, "Éxito", "Volvió correctamente"));
        navigationManager.NavigateTo("/Deudore/Index");
    }
}