@page "/Pago/Index"
@inject PagoService pagoService
@inject DeudorService deudorService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Consulta de pagos</PageTitle>

<div class="container-fluid vh-100 d-flex flex-column justify-content-center">
    <div class="card shadow-lg w-100 h-100">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="card-title text-center w-100">Consulta de Pagos</h3>
        </div>

        <div class="card-body overflow-auto">
            @* Contenido del filtro *@
            <div class="row mb-4 align-items-end">
                <div class="col-md-4">
                    <label for="Filtro" class="form-label"><strong>Filtrar por:</strong></label>
                    <select @bind="filtro" class="form-select">
                        <option value="0">Seleccione una opción</option>
                        <option value="deudores">deudores</option>
                        <option value="Capital">Capital</option>
                        <option value="PagoPendiente">PagoPendiente</option>
                        <option value="FechaPago">FechaPago</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label for="ValorFiltro" class="form-label"><strong>Búsqueda:</strong></label>
                    <div class="input-group">
                        <input @bind="valorFiltro" class="form-control" placeholder="Buscar" />
                        <button @onclick="Buscar" class="btn btn-outline-primary" type="button">
                            <span class="bi bi-search"></span> 
                            Buscar
                        </button>
                    </div>
                </div>

                <div class="col-md-1 ms-auto">
                    <a href="/Pago/Create" class="btn btn-primary text-end">
                        <span class="bi bi-plus-square"></span>
                        Crear
                    </a>
                </div>
            </div>

            <table class="table table-hover table-striped text-center">
                <thead class="table-white">
                    <tr>
                        <th>PagoId</th>
                        <th>Deudor</th>
                        <th>Capital</th>
                        <th>PagoPendiente</th>
                        <th>FechaPago</th>
                        <th>Ver</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pago in listapago)
                    {
                        <tr>
                            <td>@pago.PagoId</td>
                            <td>@pago.deudores</td>
                            <td>@pago.Capital</td>
                            <td>@pago.PagoPendiente</td>
                            <td>@pago.FechaPago</td>
                       
                            <td>
                                <a href="/Pago/Details/@pago.PagoId" class="btn btn-sm btn-outline-info">
                                    <span class="bi bi-eye mt-3"></span>
                                </a>
                            </td>
                            <td>
                                <a href="/Pago/Edit/@pago.PagoId" class="btn btn-sm btn-outline-warning">
                                    <span class="bi bi-pencil-square mt-3"></span>
                                </a>
                            </td>
                            <td>
                                <a href="/Pago/Delete/@pago.PagoId" class="btn btn-sm btn-outline-danger">
                                    <span class="bi bi-trash mt-3"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="card-footer d-flex justify-content-between">
            <p class="mb-0">Total de pagos: @listapago.Count</p>
        </div>
    </div>
</div>

@code {
    public  Pagos pago = new Pagos();
    public List<Pagos> listapago = new List<Pagos>();
    public List<Deudores> listadeudore = new List<Deudores>();
    public string filtro = "0";
    public string valorFiltro = "";

    protected override async Task OnInitializedAsync()
    {
        listapago = await pagoService.Listar(a => true);
    }

    public async Task Buscar()
    {
        if (string.IsNullOrWhiteSpace(valorFiltro))
        {
            listapago = await pagoService.Listar(a => true);
        }
        else if (filtro == "deudores")
        {
            listadeudore= await deudorService.Listar(c =>c.Nombres.Contains(valorFiltro));
        }
        else if (filtro == "Capital"&&decimal.TryParse(valorFiltro,out decimal Capital))
        {
            listapago = await pagoService.Listar(c => c.Capital==Capital);
        }
        else if (filtro == "PagoPendiente" && decimal.TryParse(valorFiltro, out decimal PagoPendiente))
        {
            listapago = await pagoService.Listar(c => c.PagoPendiente == PagoPendiente);
        }
        else if (filtro == "FechaPago" && DateTime.TryParse(valorFiltro, out DateTime FechaPago))
        {
            listapago = await pagoService.Listar(c => c.FechaPago == FechaPago);
        }
       
    }

    private async Task Volver()
    {
        navigationManager.NavigateTo("/menu");
    }
}
